.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mega-menu .menu-logo img {
    height: 60px;
}


.mega-menu.desktopTopFixed .menu-list-items .menu-logo > li > a img {
    height: 39px;
}

.testimonial.dark{
    background-color: rgba(0, 0, 0, 0.511);
}


.contact-form .submit-button{
    clear: both;
}

/*

.mo-join{
    display: block;
    flex-wrap: wrap;

}

.mo-join .mo-section-field{
    display: inline-block;

    float: initial !important;




}
 */




a:focus,
a:hover {
    color: #00a895;
}
a,
button,
input {
    color: #00a895;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #363636;
}
p {
    color: #626262;
}
hr {
    border-bottom: 1px dashed #eceff8;
}
hr.light {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
*::-moz-selection {
    background: #00a895;
    color: #fff;
}
::-moz-selection {
    background: #00a895;
    color: #fff;
}
::selection {
    background: #00a895;
    color: #fff;
}
.theme-color {
    color: #00a895;
}
.text-white {
    color: #fff;
}
.text-black {
    color: #363636;
}
.text-gray {
    color: #999999;
}
section {
    background: #ffffff;
}
#pre-loader {

}
#back-to-top .top {
    color: #fff;
    background: #00a895;
}
.section-title.line .title:before {
    background: #00a895;
}
/*bg */
.section-title span.theme-bg {
    background: #00a895;

}
/*dark-bg*/
.section-title.dark-bg .title {

}
.section-title.dark-bg .subtitle {

}
.section-title.dark-bg p {

}
.section-title.dark-bg.line .title:before {
    background: #ffffff;
}
.section-title.dark-bg span.theme-bg {
    background: #ffffff;
    color: #00a895;
}
.section-title:nth-child(odd) .title-effect::before {
    background: #00a895;
}
section:hover .title-effect:nth-child(even),
section:focus .title-effect:nth-child(even) {
    color: #00a895;
}
/*dark*/
section:nth-child(odd) .title-effect.dark::before {
    background: #ffffff;
}
section:hover .title-effect.dark:nth-child(even),
section:focus .title-effect.dark:nth-child(even) {

}
.section-title.line-dabble .title:before {
    background: rgba(234, 234, 234, 1);
}
.section-title.line-dabble .title:after {
    background: #00a895;
}
.mega-menu .menu-logo>li>a {

}
@media screen and (max-width:991px) {
    .mega-menu .menu-links {
    }
}
@media screen and (max-width:991px) {
    .mega-menu .menu-links>li {
        border-bottom: 1px solid #f3f3f3;
    }
}
@media screen and (min-width:992px) {
    .mega-menu .menu-links>li.activeTrigger {
        background-color: #00a895;
    }
}
.mega-menu .menu-links>li.active a {
    /*------------------------------------- ACTIVE CLASS MENU LINKS */
    background-color: transparent;
    color: #00a895;
}
.mega-menu .menu-links>li:hover {
    /*-------------------------------------- HOVER MENU LINKS */
    background-color: transparent;
    color: #00a895;
}
.mega-menu .menu-links>li>a {

}
.mega-menu .menu-links>li>a:hover {
    color: #00a895;
}
@media screen and (max-width:991px) {
    .mega-menu .menu-links>li>a {
        color: #363636;
    }
}
.mega-menu .menu-social-bar>li[data-color='blue']>a:hover {
    background-color: #3b5998;
}
.mega-menu .menu-social-bar>li[data-color='sky-blue']>a:hover {
    background-color: #2caae1;
}
.mega-menu .menu-social-bar>li[data-color='orange']>a:hover {
    background-color: #dd4b39;
}
.mega-menu .menu-social-bar>li[data-color='red']>a:hover {
    background-color: #bd081c;
}
.mega-menu .menu-social-bar>li>a {

}
.mega-menu .menu-search-bar li:hover i.fa.fa-search {
    background: #00a895;
}
.mega-menu .menu-search-bar input {

}
.mega-menu .menu-search-bar input:focus {
    background: #00a895;
}
.mega-menu .menu-search-bar i.fa.fa-search {

}
.mega-menu .menu-search-bar:-moz-placeholder {
    color: #ffffff !important;
}
.mega-menu .menu-search-bar::-moz-placeholder {
    color: #ffffff !important;
}
.mega-menu .menu-search-bar:-ms-input-placeholder {
    color: #ffffff !important;
}
.mega-menu .menu-search-bar::-webkit-input-placeholder {
    color: #ffffff !important;
}
.mega-menu .menu-mobile-collapse-trigger:before,
.mega-menu .menu-mobile-collapse-trigger:after,
.mega-menu .menu-mobile-collapse-trigger span {
    background: #ffffff;
}
.home-2 .mega-menu .menu-mobile-collapse-trigger:before,
.home-2 .mega-menu .menu-mobile-collapse-trigger:after,
.home-2 .mega-menu .menu-mobile-collapse-trigger span {
    background: #323232;
}
.mega-menu .drop-down-multilevel {
    /*-------------------------------------------------- DROP DOWN MULTILEVEL */
    background: #ffffff;
}
.mega-menu .drop-down-multilevel * {
    color: #323232;
}
@media screen and (min-width:992px) {
    .mega-menu .drop-down-multilevel {
        box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
    }
}
.mega-menu .drop-down-multilevel li:hover {
    background: #fafafa;
}
.mega-menu .drop-down-multilevel li:hover>a {
    color: #00a895;
}
.mega-menu .drop-down-multilevel li:hover>a i.fa {
    color: #00a895;
}
@media screen and (min-width:992px) {
    .mega-menu .drop-down-multilevel li.activeTrigger {
        background: #00a895;
    }
    .mega-menu .drop-down-multilevel li.activeTrigger>a {

    }
    .mega-menu .drop-down-multilevel li.activeTrigger>a i.fa {

    }
}
@media screen and (max-width:991px) {
    .mega-menu .drop-down-multilevel li.activeTriggerMobile {
        background: #00a895;
    }
    .mega-menu .drop-down-multilevel li.activeTriggerMobile>a {
        color: #323232;
    }
    .mega-menu .drop-down-multilevel li.activeTriggerMobile>a i.fa {

    }
    .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
        color: #ffffff !important;
    }
}
.mega-menu .menu-links>li.active .drop-down-multilevel a {
    color: #323232;
}
.mega-menu .menu-links>li.active .drop-down-multilevel a:hover {
    color: #00a895;
}
.mega-menu .drop-down-multilevel a {
    color: #323232;
}
@media screen and (max-width:991px) {
    .mega-menu .drop-down-multilevel .drop-down-multilevel {
        left: 0;
        border: 1px solid #cccccc;
    }
}
.mega-menu .drop-down,
.mega-menu .drop-down-tab-bar {
    /*--------------------------------------------------------- GRID DROP DOWN */
    background: #ffffff;
    /*-------------------------------------------------------- 12 COLUMNS FLUID GRID WITH NESTED COLUMNS */
}
.mega-menu .drop-down *,
.mega-menu .drop-down-tab-bar * {
    color: #323232;
}
@media screen and (min-width:992px) {
    .mega-menu .drop-down.menu-bg,
    .mega-menu .drop-down-tab-bar {
        background: rgba(255, 255, 255, 1);
    }
    .mega-menu .drop-down.menu-shop-bg,
    .mega-menu .drop-down-tab-bar {
        background: rgba(255, 255, 255, 1) url(../../images/objects/menu-shop-bg.jpg);
    }
    .mega-menu .rev-slider {
    }
    .mega-menu .rev-slider a {
        color: #01a9da;
    }
    .mega-menu .rev-slider a:hover {
        color: #323232 !important;
    }
}
@media screen and (min-width:992px) {
    .mega-menu .drop-down,
    .mega-menu .drop-down-tab-bar {
        box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.05);
    }
}
.mega-menu .drop-down.grid-demo span,
.mega-menu .drop-down-tab-bar.grid-demo span {
    background: #bfbfbf;
    color: #323232;
}
.mega-menu .drop-down figcaption,
.mega-menu .drop-down-tab-bar figcaption {
    color: #666666;
}
.mega-menu .drop-down input[type="text"],
.mega-menu .drop-down input[type="url"],
.mega-menu .drop-down input[type="email"],
.mega-menu .drop-down input[type="password"],
.mega-menu .drop-down input[type="search"],
.mega-menu .drop-down input[type="number"],
.mega-menu .drop-down input[type="date"],
.mega-menu .drop-down input[type="month"],
.mega-menu .drop-down input[type="week"],
.mega-menu .drop-down input[type="time"],
.mega-menu .drop-down input[type="datetime"],
.mega-menu .drop-down input[type="datetime-local"],
.mega-menu .drop-down input[type="tel"],
.mega-menu .drop-down textarea,
.mega-menu .drop-down-tab-bar input[type="text"],
.mega-menu .drop-down-tab-bar input[type="url"],
.mega-menu .drop-down-tab-bar input[type="email"],
.mega-menu .drop-down-tab-bar input[type="password"],
.mega-menu .drop-down-tab-bar input[type="search"],
.mega-menu .drop-down-tab-bar input[type="number"],
.mega-menu .drop-down-tab-bar input[type="date"],
.mega-menu .drop-down-tab-bar input[type="month"],
.mega-menu .drop-down-tab-bar input[type="week"],
.mega-menu .drop-down-tab-bar input[type="time"],
.mega-menu .drop-down-tab-bar input[type="datetime"],
.mega-menu .drop-down-tab-bar input[type="datetime-local"],
.mega-menu .drop-down-tab-bar input[type="tel"],
.mega-menu .drop-down-tab-bar textarea {
    border: 1px solid #e8e8e8;
}
.mega-menu .drop-down select,
.mega-menu .drop-down-tab-bar select {
    border: 1px solid #cccccc;
}
.mega-menu .drop-down table,
.mega-menu .drop-down-tab-bar table {
    border: 1px solid #cccccc;
}
.mega-menu .drop-down tbody tr:nth-child(even) td,
.mega-menu .drop-down-tab-bar tbody tr:nth-child(even) td {
    background: #dddddd;
}
.mega-menu .drop-down th,
.mega-menu .drop-down td,
.mega-menu .drop-down caption,
.mega-menu .drop-down-tab-bar th,
.mega-menu .drop-down-tab-bar td,
.mega-menu .drop-down-tab-bar caption {
    border: 1px solid #cccccc;
}
.mega-menu .drop-down mark,
.mega-menu .drop-down-tab-bar mark {
    background: #78aace;

}
.mega-menu .drop-down del,
.mega-menu .drop-down-tab-bar del {
    color: #dddddd;
}
.mega-menu .drop-down hr,
.mega-menu .drop-down-tab-bar hr {
    background: #cccccc;
    color: #cccccc;
}
.mega-menu .drop-down input[type="submit"],
.mega-menu .drop-down input[type="button"],
.mega-menu .drop-down-tab-bar input[type="submit"],
.mega-menu .drop-down-tab-bar input[type="button"] {
    background: #00a895;

}
.mega-menu .drop-down input[type="submit"]:hover,
.mega-menu .drop-down input[type="button"]:hover,
.mega-menu .drop-down-tab-bar input[type="submit"]:hover,
.mega-menu .drop-down-tab-bar input[type="button"]:hover {
    background-color: #333333;
}
.mega-menu .drop-down a:hover,
.mega-menu .drop-down-tab-bar a:hover {
    color: #00a895;
}
.mega-menu .drop-down a:hover i,
.mega-menu .drop-down-tab-bar a:hover i {
    color: #00a895;
}
.mega-menu .drop-down .list-description span,
.mega-menu .drop-down-tab-bar .list-description span {
    color: #aeaeae;
}
.mega-menu .drop-down-tab-bar .image-description span {
    color: #aeaeae;
}
.mega-menu .drop-down .menu-contact-form,
.mega-menu .drop-down-tab-bar .menu-contact-form {
    background: #f7f7f7;
}
@media screen and (min-width:992px) {
    .mega-menu.desktopTopFixed .menu-list-items {
        /*--------------------------------------------------------- TOP FIXED FOR DESKTOP */
        background: #323232;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }
}
@media screen and (min-width:992px) {
    .mega-menu.vertical-left .menu-search-bar input,
    .mega-menu.vertical-left .menu-search-bar li,
    .mega-menu.vertical-left .menu-search-bar form,
    .mega-menu.vertical-left .menu-search-bar label,
    .mega-menu.vertical-right .menu-search-bar input,
    .mega-menu.vertical-right .menu-search-bar li,
    .mega-menu.vertical-right .menu-search-bar form,
    .mega-menu.vertical-right .menu-search-bar label {
        background: #00a895;
    }
}
.topbar-call ul li i {
    color: #00a895;
}
.topbar ul li a:hover {
    color: #00a895;
}
.search-cart i.icon:hover {
    color: #00a895;
}
.shpping-cart strong.item {
    background-color: #00a895;
}
.search .search-btn:hover {
    color: #00a895;
}
.search .search-box button:hover {
    color: #00a895;
}
.cart-item .cart-name a:hover {
    color: #00a895;
}
.cart-price ins {

    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel a:hover {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down li.active a {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down a:hover {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down li.active a i {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down a i:hover {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li a .drop-down-multilevel li a:hover {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active i {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active i {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active:hover .drop-down-multilevel li a:hover i {
    color: #00a895;
}
.mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
    color: #00a895;
}
.header.light .mega-menu .menu-links>li>a:hover {
    color: #00a895;
}
.header.light .mega-menu .menu-links>li.active>a {
    color: #00a895;
}
.header.light .search-cart i.icon:hover {
    color: #00a895;
}
.header.light .search .search-btn:hover {
    color: #00a895;
}
.header.fancy .topbar {
    background: #00a895;
}
.header.fancy .mega-menu .menu-links>li>a:hover {
    color: #00a895;
}
.header.fancy .mega-menu .menu-links>li.active>a {
    color: #00a895;
}
.header.fancy .mega-menu.desktopTopFixed .menu-links>li>a:hover,
.header.fancy .mega-menu.desktopTopFixed .menu-links>li.active>a {
    color: #00a895;
}
.header.fancy .search-cart i.icon:hover {
    color: #00a895;
}
.header.fancy .search .search-btn:hover {
    color: #00a895;
}
.header.burger .menu-icon:hover {
    color: #00a895;
}
.side-menu-icon .menu-icon:hover {
    color: #00a895;
}
.header.text-dark .topbar ul li a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li>a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active>a {
    color: #00a895;
}
.header.text-dark .search-cart i.icon:hover {
    color: #00a895;
}
.header.text-dark .search .search-btn:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .drop-down a:hover i.fa,
.header.text-dark .mega-menu .drop-down-tab-bar a:hover i.fa {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down li.active a {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down li a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .drop-down a:hover,
.header.text-dark .mega-menu .drop-down-tab-bar a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel a:hover,
.header.text-dark .mega-menu .drop-down-multilevel a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li a .drop-down-multilevel li a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active i {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active i {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active:hover .drop-down-multilevel li a:hover i {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
    color: #00a895;
}
.header.text-dark .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.text-dark .mega-menu .drop-down-multilevel a:hover i.fa-indicator {
    color: #00a895;
}
.header.text-dark .mega-menu .drop-down-multilevel li.active a i.fa-indicator {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .drop-down a:hover i.fa,
.header.dark-dropdown .mega-menu .drop-down-tab-bar a:hover i.fa {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down li.active a {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down li a:hover {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .drop-down a:hover,
.header.dark-dropdown .mega-menu .drop-down-tab-bar a:hover {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel a:hover,
.header.dark-dropdown .mega-menu .drop-down-multilevel a:hover {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li a .drop-down-multilevel li a:hover {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active i {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active i {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active:hover .drop-down-multilevel li a:hover i {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active .drop-down-multilevel li a:hover {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .menu-links>li.active .drop-down-multilevel li.active .drop-down-multilevel li.active a {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .drop-down-multilevel a:hover i.fa-indicator {
    color: #00a895;
}
.header.dark-dropdown .mega-menu .drop-down-multilevel li.active a i.fa-indicator {
    color: #00a895;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #00a895;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #00a895;
}
header.one-page.light .navbar-inverse .navbar-nav>li>a:hover {
    color: #00a895;
}
header.one-page.light .navbar-inverse .navbar-nav>.active>a,
header.one-page.light .navbar-inverse .navbar-nav>.active>a:focus,
header.one-page.light .navbar-inverse .navbar-nav>.active>a:hover {
    color: #00a895;
}
header.one-page.light .navbar-inverse .navbar-nav.hover-effect-01>li>a:hover,
header.one-page.light .navbar-inverse .navbar-nav.hover-effect-01>.active>a {
    -webkit-box-shadow: inset 178px 0px 0px 0px #00a895;
    -o-box-shadow: inset 178px 0px 0px 0px #00a895;
    -ms-box-shadow: inset 178px 0px 0px 0px #00a895;
    -moz-box-shadow: inset 178px 0px 0px 0px #00a895;
    box-shadow: inset 178px 0px 0px 0px #00a895;
}
.personal-typer-banner b {
    border-bottom: 2px solid #00a895;
}
.personal-typer-banner h1 {
    color: #00a895;
}
.personal-typer-banner h2 {
    border-left: 3px solid #00a895;
}
.popup-video-banner a span {
    background: #ffffff;
    color: #00a895;
}
.popup-video-banner a:hover span {
    background: #00a895;

}
.video-background-banner .slider-content {
    border: 20px solid #00a895;
}
.theme-bg {
    background: #00a895;
}
.slider-content .typer {
    color: #00a895 !important;
}
.custom-content {
    background: #00a895;
}
.feature-step a {
    color: #00a895;
}
.service-blog ul {
    border-right: 6px solid #00a895;
}
.service-blog.left ul {
    border-left: 6px solid #00a895;
}
.resume-block .resume-icon span {
    color: #00a895;
}
.isotope-filters button.active,
.isotope-filters button:hover {
    background: #00a895;
    border-color: #00a895;
}
.isotope-filters.filters-vertical button.active,
.isotope-filters.filters-vertical button:hover {
    color: #00a895;
}
.portfolio-item .portfolio-overlay {
    background: #00a895;
}
.portfolio-item a.popup:hover {
    background: #00a895;
}
.no-title .portfolio-item .portfolio-overlay a:hover {
    color: #00a895;
}
.portfolio-item-2 .portfolio-hover .hover-name a:hover {
    color: #00a895;
}
.portfolio-item-2 .portfolio-hover .hover-icon a:hover {
    color: #00a895;
}
.no-title .portfolio-item-2 .portfolio-hover .hover-icon a:hover,
.no-title .portfolio-item-2 .portfolio-hover .hover-name a:hover {
    color: #00a895;
}
.port-meta li b {
    color: #00a895;
}
.port-post-social a:hover {
    color: #00a895;
}
.blog-box .post-category a {
    background-color: #00a895;
}
a.blog-btn {
    color: #00a895;
}
.blog-box .border {
    background: #00a895;
}
.blog-entry .blog-detail .entry-title a:hover {
    color: #00a895;
}
.blog-entry .entry-meta ul li i {
    color: #00a895;
}
.blog-entry .entry-meta ul li a i {
    color: #00a895;
}
.blog-entry .entry-meta ul li a:hover {
    color: #00a895;
}
/*blog-entry blockquote*/
.blog-entry.blockquote {
    background: #00a895;
}
.blog-entry.blockquote blockquote {
    background: #00a895;
}
.blog-entry.blockquote .blog-detail {
    border: 0px;
    background: #00a895;
}
.services-text-box-green {
    background: #00a895;
    padding: 80px 50px !important;
}
.contact-box i {
    background: #00a895;
}
.contact-3 .contact-add i {
    color: #00a895;
}
.footer-contact .contact-box .contact-icon i {
    color: #00a895;
}
.our-history .timeline>li>.timeline-badge {
    border: 3px solid #00a895;
}
.widget-search input:focus {
    border-color: #00a895;
}
.sidebar-widget .recent-post .recent-post-info a:hover {
    color: #00a895;
}
.sidebar-widget .recent-post .recent-post-info span {
    color: #00a895;
}
.sidebar-widget .widget-categories li a:hover {
    color: #00a895;
}
.sidebar-widget .widget-categories li a:hover i {
    border-color: #00a895;
    color: #00a895;
}
.sidebar-widget .widget-link li a:hover {
    color: #00a895;
}
.sidebar-widget .recent-item .recent-title a:hover {
    color: #00a895;
}
.maintenance-progress-bar .progress-bar .rotate {
    background: #00a895 !important;
}
.maintenance-progress-bar .progress-bar .right {
    background: #00a895 !important;
}
.about-me .contact-me i {
    color: #00a895;
}
.about-me .follow-me li a {
    background: #e4e4e4;
    color: #00a895;
}
.about-me .follow-me li a:hover {
    background: #00a895;
    color: #fff;
}
.team-details .social li a {
    background: #f7f7f7 none repeat scroll 0 0;
    color: #00a895;
}
.team-details .social li a:hover {
    background: #00a895;

}
.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
    background-color: #00a895;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #00a895;
}
.blog .timeline li.entry-date-bottom a:hover {
    background: #00a895;
}
.blog .timeline li:hover .timeline-panel {
    border-color: #00a895;
}
.blog .timeline li:hover .timeline-badge {
    background: #00a895;
    border-color: #00a895;
}
.blog .timeline li:hover .timeline-panel:before {
    border-left-color: #00a895;
    border-right-color: #00a895;
}
.blog-single .blog-entry.blockquote blockquote cite {
    color: #00a895;
}
.page-item.active .page-link {
    background: #00a895;
    border-color: #00a895;
}
.comments-1 .comments-info a {
    color: #00a895;
}
.coming-soon-countdown ul.countdown li span {
    color: #00a895;
}
.remember-checkbox a {
    color: #00a895;
}
.remember-checkbox label:before {
    border-color: #00a895;
}
.remember-checkbox input[type="checkbox"]:checked+label:after {
    color: #00a895;
}
.remember-checkbox label:before,
.remember-checkbox after:before {
    color: #00a895;
}
.login-social li a.fb:hover,
.login-social li a.twitter:hover,
.login-social li a.pinterest:hover {
    background: #00a895;
}
.login-bg .login-title {
    background: #00a895;
}
.register-bg .register-title {
    background: #00a895;
}
.progress-bar-new {
    background-color: #00a895;
}
.clients-info a {
    color: #00a895;
}
.happy-clients .tab-content .quoter-icon {
    color: #00a895;
}
.process .process-step strong {
    background: #00a895;
}
.process .process-content span {
    color: #00a895;
}
.sitemap ul li a:hover {
    color: #00a895;
}
.addresss-info.text-black i {
    color: #00a895;
}
.footer-useful-link ul li a:hover {
    color: #00a895;
}
.footer-widget a {
    color: #00a895;
}
.footer-widget a:hover {
    color: #00a895;
}
.footer-widget-social a i:hover {
    background: #00a895;
}
.footer .footer-nav ul li a:hover {
    color: #00a895;
}
.footer .social ul li a i:hover {
    color: #00a895;
}
.footer .usefull-link ul li a:hover {
    color: #00a895;
}
.footer .copyright ul li a:hover {
    color: #00a895;
}
.footer.light .social ul li a i {
    color: #00a895;
}
.footer .footer-social ul li a:hover {
    color: #00a895 !important;
}
.footer .footer-tags li a:hover {
    background: #00a895;
}
.google-map .map-icon:before {
    color: #00a895;
}
.popup-video .play-video:hover a {
    color: #00a895;
}
.play-video {
    background-color: #00a895;
}
.play-video:hover a {
    color: #00a895;
}
.play-video:hover {
    color: #00a895;
}
.portfolio-item.simple-effect .portfolio-overlay a:hover {
    color: #00a895;
}
.portfolio-item.simple-effect .portfolio-overlay span a:hover {
    color: #00a895;
}
.popup-video-image a i {
    background: #00a895;
}
.play-video-section .play-video a {
    color: #00a895;
}
.play-video-section.black-button .play-video:hover {
    background: #00a895;
}
.blockquote-section blockquote.quote:before {
    color: #00a895;
}
.login-box-theme:before {
    background: #00a895;
}
.login-box-theme:after {
    background: #00a895;
}
.login-box-left li.active a,
.login-box-left li a:hover {
    border-left: 5px solid #00a895;
    color: #00a895;
}
.blog-overlay.white-bg:hover span a {
    color: #00a895;
}
.blog-overlay.white-bg a:hover {
    color: #00a895;
}

.blog-overlay.dark-theme-bg:hover span a {
    color: #00a895;
}

.blog-overlay.dark-theme-bg a:hover {
    color: #00a895;
}

.blog-overlay .tag {
    background: #00a895;
}
.blog.blog-simple .tag {
    background: #00a895;
}

.blog.blog-simple .entry-meta ul li i {
    color: #00a895;
}

.blog.blog-simple .entry-meta ul li a i {
    color: #00a895;
}
.blog.blog-simple .entry-meta ul li a:hover {
    color: #00a895;
}
.blog-box.blog-2.blog-border .blog-info .tag {
    border-bottom: 2px solid #00a895;
}
.service ul li a:hover,
.service ul li a.active {
    background-color: #00a895;
}
.quote:before {
    color: #00a895;
}
.addresss-info.invoice-addresss li a {
    color: #00a895;
}
.fc-state-active {
    background: #00a895;
}
.fc-today-button {
    background: #00a895;
}
.fc-event,
.fc-event-dot {
    background: #00a895;
}
.portfolio-item .portfolio-overlay a.tag {
    background: #00a895;

}





.owl-carousel .owl-nav i {
    background: #00a895;
}



.owl-carousel .owl-dots .owl-dot:hover span, .owl-carousel .owl-dots .owl-dot.active span {
    background: #00a895;
}

ul.list.theme-color li i { color: #00a895; }

ul.list li:after { color:#00a895;  }








.testimonial-avatar img {
    border: 4px solid #00a895;
}

.testimonial-info:before {
    color: #00a895;
}

.author-info span {
    color: #00a895;
}

.testimonial.text-white.clean .author-info {
    color: #00a895;
}

/* green BG */
.testimonial.theme-bg {
    background: #00a895;
}








.button {
    background: #00a895;
    border: 2px solid #00a895;
}


.button.black:hover, .button.black.active, .button.black:focus {
    background: #00a895;
    border-color: #00a895;
}


.button.gray:hover, .button.gray.active, .button.gray:focus {
    background: #00a895;
    border-color: #00a895;
}

.button.white {
    color: #00a895;

}


.button.button-border {
    border: 2px solid #00a895;
}

.button.button-border:hover, .button.button-border:focus {
    background: #00a895;

    border-color: #00a895;
}

.button.button-border.gray:hover, .button.button-border.gray:focus {
    background: #00a895;

    border-color: #00a895;
}

.button.button-border.white:hover, .button.button-border.white:focus {
    color: #00a895;
}

/*button with icon*/
.button.arrow {
    color: #00a895;
}

.button.icon-color {
    color: #00a895;
}


.button.icon-color i {
    border: 1px solid #00a895;
}


.button.icon-color.white:hover i {
    color: #00a895;

}


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    background: #00a895;
    border-color: #00a895;
    box-shadow: 0 0 0 0.2rem rgba(132,186,63,0.5);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(132,186,63,0.5);
    background: #00a895;
    border-color: #00a895;
}



.accordion .acd-group.acd-active .acd-heading,
.accordion .acd-group .acd-heading:hover {
    color: #00a895;
}

.accordion.gray .acd-group.acd-active .acd-heading,
.accordion.gray .acd-group .acd-heading:hover {
    background: #00a895;
}

.accordion.shadow .acd-group.acd-active .acd-heading,
.accordion.shadow .acd-group .acd-heading:hover {
    background: #00a895;
}

.accordion.accordion-border .acd-group.acd-active .acd-heading,
.accordion.accordion-border .acd-group .acd-heading:hover {
    background: #00a895;
}


.accordion.animated .acd-group.acd-active .acd-heading {
    color: #00a895;
}

.accordion.animated .acd-group .acd-heading:hover {
    color: #00a895;
}


.mo-span-counter{
    display: flex;
    font-size: 44px;
}

.counter .timer {
    display: initial;
}





.cbh-phone{display:block;position:fixed; right: -50px;
    bottom: -16px;
    visibility:hidden;background-color:transparent;width:200px;height:200px;cursor:pointer;z-index:999;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0);-webkit-transition:visibility .5s;-moz-transition:visibility .5s;-o-transition:visibility .5s;transition:visibility .5s}
    .cbh-phone.cbh-show{visibility:visible}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}}@-webkit-keyframes fadeInRightBig{0%{opacity:0;-webkit-transform:translate3d(2000px,0,0);transform:translate3d(2000px,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@-webkit-keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}@keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.fadeOutRight{-webkit-animation-name:fadeOutRight;animation-name:fadeOutRight}
    .cbh-phone.cbh-static1{opacity:.6}
    .cbh-phone.cbh-hover1{opacity:1}
    .cbh-ph-circle{width:110px;height:110px;top:40px;left:40px;position:absolute;background-color:transparent;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid rgba(30,30,30,.4);opacity:.1;-webkit-animation:cbh-circle-anim 1.2s infinite ease-in-out;-moz-animation:cbh-circle-anim 1.2s infinite ease-in-out;-ms-animation:cbh-circle-anim 1.2s infinite ease-in-out;-o-animation:cbh-circle-anim 1.2s infinite ease-in-out;animation:cbh-circle-anim 1.2s infinite ease-in-out;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
    .cbh-phone.cbh-active .cbh-ph-circle1{-webkit-animation:cbh-circle-anim 1.1s infinite ease-in-out!important;-moz-animation:cbh-circle-anim 1.1s infinite ease-in-out!important;-ms-animation:cbh-circle-anim 1.1s infinite ease-in-out!important;-o-animation:cbh-circle-anim 1.1s infinite ease-in-out!important;animation:cbh-circle-anim 1.1s infinite ease-in-out!important}
    .cbh-phone.cbh-static .cbh-ph-circle{-webkit-animation:cbh-circle-anim 2.2s infinite ease-in-out!important;-moz-animation:cbh-circle-anim 2.2s infinite ease-in-out!important;-ms-animation:cbh-circle-anim 2.2s infinite ease-in-out!important;-o-animation:cbh-circle-anim 2.2s infinite ease-in-out!important;animation:cbh-circle-anim 2.2s infinite ease-in-out!important}
    .cbh-phone.cbh-hover .cbh-ph-circle{border-color:rgba(0,175,242,1);opacity:.5}
    .cbh-phone.cbh-green.cbh-hover .cbh-ph-circle{border-color:rgba(117,235,80,1);opacity:.5}
    .cbh-phone.cbh-green .cbh-ph-circle{border-color:rgba(0,175,242,1);opacity:.5}
    .cbh-phone.cbh-gray.cbh-hover .cbh-ph-circle{border-color:rgba(204,204,204,1);opacity:.5}
    .cbh-phone.cbh-gray .cbh-ph-circle{border-color:rgba(117,235,80,1);opacity:.5}
    .cbh-ph-circle-fill{width:74px;height:74px;top:58px;left:58px;position:absolute;background-color:#000;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;opacity:.1;-webkit-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;-moz-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;-ms-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;-o-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;animation:cbh-circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;transition:all .5s}
    .cbh-phone.cbh-active .cbh-ph-circle-fill{-webkit-animation:cbh-circle-fill-anim 1.7s infinite ease-in-out!important;-moz-animation:cbh-circle-fill-anim 1.7s infinite ease-in-out!important;-ms-animation:cbh-circle-fill-anim 1.7s infinite ease-in-out!important;-o-animation:cbh-circle-fill-anim 1.7s infinite ease-in-out!important;animation:cbh-circle-fill-anim 1.7s infinite ease-in-out!important}
    .cbh-phone.cbh-static .cbh-ph-circle-fill{-webkit-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out!important;-moz-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out!important;-ms-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out!important;-o-animation:cbh-circle-fill-anim 2.3s infinite ease-in-out!important;animation:cbh-circle-fill-anim 2.3s infinite ease-in-out!important;opacity:0!important}         .cbh-phone.cbh-hover .cbh-ph-circle-fill{background-color:rgba(0,175,242,.5);opacity:.75!important}
    .cbh-phone.cbh-green.cbh-hover .cbh-ph-circle-fill{background-color:rgba(117,235,80,.5);opacity:.75!important}
    .cbh-phone.cbh-green .cbh-ph-circle-fill{background-color:rgba(0,175,242,.5);opacity:.75!important}
    .cbh-phone.cbh-gray.cbh-hover .cbh-ph-circle-fill{background-color:rgba(204,204,204,.5);opacity:.75!important}
    .cbh-phone.cbh-gray .cbh-ph-circle-fill{background-color:rgba(117,235,80,.5);opacity:1!important}
    .cbh-ph-img-circle1{width:50px;height:50px;top:70px;left:70px;position:absolute;background-image:url(https://360imagem.com/google/images/wpp-icon.png);background-size: 40px 40px;background-color:rgba(30,30,30,.1);background-position:center center;background-repeat:no-repeat;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;border:2px solid transparent;opacity:1;-webkit-animation:cbh-circle-img-anim 1s infinite ease-in-out;-moz-animation:cbh-circle-img-anim 1s infinite ease-in-out;-ms-animation:cbh-circle-img-anim 1s infinite ease-in-out;-o-animation:cbh-circle-img-anim 1s infinite ease-in-out;animation:cbh-circle-img-anim 1s infinite ease-in-out}
    .cbh-phone.cbh-active .cbh-ph-img-circle1{-webkit-animation:cbh-circle-img-anim 1s infinite ease-in-out!important;-moz-animation:cbh-circle-img-anim 1s infinite ease-in-out!important;-ms-animation:cbh-circle-img-anim 1s infinite ease-in-out!important;-o-animation:cbh-circle-img-anim 1s infinite ease-in-out!important;animation:cbh-circle-img-anim 1s infinite ease-in-out!important}
    .cbh-phone.cbh-static .cbh-ph-img-circle1{-webkit-animation:cbh-circle-img-anim 0s infinite ease-in-out!important;-moz-animation:cbh-circle-img-anim 0s infinite ease-in-out!important;-ms-animation:cbh-circle-img-anim 0s infinite ease-in-out!important;-o-animation:cbh-circle-img-anim 0s infinite ease-in-out!important;animation:cbh-circle-img-anim 0s infinite ease-in-out!important}
    .cbh-phone.cbh-hover .cbh-ph-img-circle1{background-color:rgba(0,175,242,1)}
    .cbh-phone.cbh-green.cbh-hover .cbh-ph-img-circle1:hover{background-color:rgba(117,235,80,1)}
    .cbh-phone.cbh-green .cbh-ph-img-circle1{background-color:rgba(0,175,242,1)}
    .cbh-phone.cbh-green .cbh-ph-img-circle1{background-color:rgba(0,175,242,1)}
    .cbh-phone.cbh-gray.cbh-hover .cbh-ph-img-circle1{background-color:rgba(204,204,204,1)}
    .cbh-phone.cbh-gray .cbh-ph-img-circle1{background-color:rgba(117,235,80,1)}@-moz-keyframes cbh-circle-anim{0%{-moz-transform:rotate(0deg) scale(0.5) skew(1deg);opacity:.1;-moz-opacity:.1;-webkit-opacity:.1;-o-opacity:.1}30%{-moz-transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5;-moz-opacity:.5;-webkit-opacity:.5;-o-opacity:.5}100%{-moz-transform:rotate(0deg) scale(1) skew(1deg);opacity:.6;-moz-opacity:.6;-webkit-opacity:.6;-o-opacity:.1}}@-webkit-keyframes cbh-circle-anim{0%{-webkit-transform:rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity:.1}30%{-webkit-transform:rotate(0deg) scale(.7) skew(1deg);-webkit-opacity:.5}100%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);-webkit-opacity:.1}}@-o-keyframes cbh-circle-anim{0%{-o-transform:rotate(0deg) kscale(0.5) skew(1deg);-o-opacity:.1}30%{-o-transform:rotate(0deg) scale(.7) skew(1deg);-o-opacity:.5}100%{-o-transform:rotate(0deg) scale(1) skew(1deg);-o-opacity:.1}}@keyframes cbh-circle-anim{0%{transform:rotate(0deg) scale(0.5) skew(1deg);opacity:.1}30%{transform:rotate(0deg) scale(.7) skew(1deg);opacity:.5}100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1}}@-moz-keyframes cbh-circle-fill-anim{0%{-moz-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}50%{-moz-transform:rotate(0deg) -moz-scale(1) skew(1deg);opacity:.2}100%{-moz-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}}@-webkit-keyframes cbh-circle-fill-anim{0%{-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg);opacity:.2}100%{-webkit-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}}@-o-keyframes cbh-circle-fill-anim{0%{-o-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}50%{-o-transform:rotate(0deg) scale(1) skew(1deg);opacity:.2}100%{-o-transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}}@keyframes cbh-circle-fill-anim{0%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}50%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.2}100%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2}}@keyframes cbh-circle-img-anim{0%{transform:rotate(0deg) scale(1) skew(1deg)}10%{transform:rotate(-25deg) scale(1) skew(1deg)}20%{transform:rotate(25deg) scale(1) skew(1deg)}30%{transform:rotate(-25deg) scale(1) skew(1deg)}40%{transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{transform:rotate(0deg) scale(1) skew(1deg)}}@-moz-keyframes cbh-circle-img-anim{0%{transform:rotate(0deg) scale(1) skew(1deg)}10%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}30%{-moz-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-moz-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-moz-transform:rotate(0deg) scale(1) skew(1deg)}}@-webkit-keyframes cbh-circle-img-anim{0%{-webkit-transform:rotate(0deg) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-webkit-transform:rotate(0deg) scale(1) skew(1deg)}}@-o-keyframes cbh-circle-img-anim{0%{-o-transform:rotate(0deg) scale(1) skew(1deg)}10%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-o-transform:rotate(25deg) scale(1) skew(1deg)}30%{-o-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-o-transform:rotate(25deg) scale(1) skew(1deg)}100%,50%{-o-transform:rotate(0deg) scale(1) skew(1deg)}}
    /* .cbh-ph-img-circle1 {} */
    .cbh-phone.cbh-green .cbh-ph-circle {border-color: rgb(0, 242, 164)}
    .cbh-phone.cbh-green .cbh-ph-circle-fill {background-color: rgb(0, 242, 164);}
    .cbh-phone.cbh-green .cbh-ph-img-circle1 {background-color:rgb(46, 203, 113);}

    .kmacb__manager-border {
      position: absolute;
      width: 75px;
      height: 75px;
      top: 50%;
      left: 50%;
      margin-top: -39.5px;
      margin-left: -39.5px;
      border-radius: 100%;
      border: 2px solid #ffe787;
      -webkit-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
      -moz-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
      -ms-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
      -o-animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
      animation: kmacb__manager-border-anim 1.5s ease-in-out .5s infinite;
      opacity: .8;
      transform-origin: center;
    }
    .kmacb__manager-fill {
      background: #52aff7 center bottom no-repeat;
      position: absolute;
      width: 75px;
      height: 75px;
      top: 50%;
      left: 50%;
      margin-top: -37.5px;
      margin-left: -37.5px;
      border-radius: 100%;
      opacity: .5;
      -webkit-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
      -moz-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
      -ms-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
      -o-animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
      animation: kmacb__manager-fill-anim 1.5s ease-in-out infinite;
      transform-origin: center;
    }
    .kmacb__manager-circle {
      background: #52aff7;
      position: absolute;
      width: 120px;
      height: 120px;
      top: 50%;
      left: 50%;
      margin-top: -60px;
      margin-left: -60px;
      border-radius: 100%;
    }
